
h1 {
	font-family: Arial; 
}
header {
	background-color: #00FF00;
	padding: 30px;
	text-align: center;
}
form { 
margin: 2px;
width: 100 %;
border: 5px, solid-back;
}
body {
	background-color: yellow;
	font-family:Arial
}
input[type=text] {
width: 20%;	
border: 2px solid blue;
padding: 14px 16px;
margin: 8px 0;
}
button[type=button] {
	background-color: #00FF00;
	border-style: 1.5px;
	width: 25%;
	padding: 20px 10px;
	font-size: 20px;
	margin: 30px 2px;
	font-size: 14px;
	display: block;
	float: center;
	
}
select { 
font-family: Arial;
width: 20%;
padding: 20px 10px;
}

textarea {
	font-family: Arial;
	width: 45%;
	border-radius: 4px;
	padding: 18px 30px;
}

nav {
	font-family: Arial;
	width: 100%;
	text-align: center;
	color: black;
	padding: 16px;
	background-color: tomato;
	}
	
body {
	font-family: Arial;
}

