body {
	font-family: Arial;
}

nav {
	text-align: center;
	padding: 16px;
	color: black;
	background-color: tomato;
	text-align: center;
}

header {
	background-color: #00FF00;
	padding: 30px;
	text-align: center;
	font-family: Arial;
}